<h1>Student Login</h1>

<form action="/student/login" method="post">
    <label for="">Student ID 2020-20001</label><br>
    <input type="text" name="studentID" id="studentID" placeholder="2020-20001"><br><br>
    <label for="">Password janraymarc</label><br>
    <input type="text" name="studentpassword" id="studentpassword" placeholder="janraymarc"><br><br>
    <input type="submit" value="submit">
</form>