<h1>Student Login</h1>

<form action="/student/login" method="post">
    <label for="">Student ID 2020-20001</label><br>
    <input type="text" name="studentID" id="studentID" placeholder="2020-0001"><br><br>
    <label for="">Student Username jrmercado</label><br>
    <input type="text" name="studentUserName" id="studentUserName" placeholder="Username"><br>
    <label for="">Password password</label><br>
    <input type="text" name="studentPassword" id="studentPassword" placeholder="janraymarc"><br><br>
    <input type="submit" value="submit">
</form>